@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Raleway");

$list1: #f72758, #f99651;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient();
}

// Set your brand colors
$purple: rgb(165, 120, 242);
$pink: #fa7c91;
$brown: black;
$beige-light: rgb(230, 230, 230);
$light-grey: rgba(240, 240, 240, 0.993);
$orange: orange;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $light-grey;
$primary: $purple;
$link: $pink;
$info: $orange;
$widescreen-enabled: true;
$fullhd-enabled: false;
$family-primary: Raleway;

// Update some of Bulma's component variables
$body-background-color: $light-grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$divider-background-color:rgb(200, 199, 199);


// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-divider/dist/css/bulma-divider.sass"
